<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Show ALL Categories</a><br/>
<h2>Category</h2>
Name:<span th:text="${category.name}"></span><br/>


Cars:
<ul th:href="@{/addcars}">
    <th:block th:each="car : ${category.cars}">
        <div th:if="${car.headshot} !=null">
            <img th:src="${car.headshot}" />
            <hr />
        </div>
        <li th:inline="text">[[${car.make}]] [[${car.model}]]</li>
        <li th:inline="text">[[${car.year}]]</li>
    </th:block>
</ul>
</body>
</html>
